#letterEntryForm {
  display: none;
}
#spin {
  display: none;
}
.jumbotron{
  background-color: lightblue;
  border-bottom: 5px solid darkblue;
}
.jumbotron h1 {
  font-size: 80px;
  font-family: impact;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px darkblue;
}
.selected {
  color: green;
}
.tiles{
  border: 1px solid black;
}
.tiles, .blankSpace{
  padding: 20px;
  margin: 0.8%;
  width: 5%;
  display: inline-block;
  text-align: center;
  font-size: 3.3em;
  padding-left: 5px;
  line-height: 12px;
  letter-spacing: 0px; }

#displayBoard{
  width:80%;
}
