body {
  background: url("../img/grid.png") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color:white;
}

h1 {
  font-family: 'Monofett' !important;
  font-size: 11em !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  width: 50px;
  height: 50px;
  background: radial-gradient(ellipse at center, rgba(255,255,200,0.5) 30%,rgba(255,255,150,0.8) 100%);
  border-radius: 100%;
  position: relative;
  animation: chase 600ms infinite;
}

canvas {
  z-index: 99999;
}

li:before {
  content: "";
  display: block;
  background: rgba(255,255,255,0.5);
  width: 15px;
  height: 15px;
  border-radius: 20% 100%;
  position: absolute;
  right: 6px;
  top: 6px;
}

li:nth-child(3n+1) {
  animation-delay: 0s;
}

li:nth-child(3n+2) {
  animation-delay: 200ms;
}

li:nth-child(3n+3) {
  animation-delay: 400ms;
}

.jumbotron h1 {
  font-size: 80px;
  font-family: impact;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px darkblue;
  margin-left: 400px;
}

.jumbotron {
  /*background-image:url("../img/board5.jpg");*/
  background: transparent !important;
}

.selected {
  color: green;
}

.tiles {
  border: 1px solid black;
  box-shadow: 2px 3px 4px 1px black;
  background: white;
  vertical-align: top;
}

.tiles, .blankSpace {
  padding: 20px;
  margin: 0.8%;
  width: 5%;
  display: inline-block;
  text-align: center;
  font-size: 3.3em;
  padding-left: 5px;
  line-height: 12px;
  letter-spacing: 0px;
  vertical-align: top;
}

.addBorder {
  border: 4px solid black;
}

.translateAvatars {
  transform: translate(0,-460px);
  transition: all 9s;
}

.avatar {
  height: 200px;
}

.avatar {
  bottom: 101px;
  position: relative;
  right: 57%;
  z-index: -1
}

.podium {
  margin-top: 100px;
}

.container {
  margin-left: 30%
}

.hef {
  height: 330px;
}

.scoreGlow {
  font-family: 'Dosis', sans-serif;
  color: rgb(252, 150, 65);
  z-index: 1;
  height: 1.4em;
  width: 3.8em;
  overflow: show;
  margin: auto;
font-size: 3em;

  -webkit-text-stroke: 3px rgb(210, 65, 36);
  text-shadow: 4px 4px 10px rgba(210, 65, 36, 0.4),
               4px 4px 20px rgba(210, 45, 26, 0.4),
               4px 4px 30px rgba(210, 25, 16, 0.4),
               4px 4px 40px rgba(210, 15, 06, 0.4);
}

.game-display {
  font-size: 24px;
}

.well {
  background-color:rgba(255, 0, 0, 0.5);;
  border: 2px solid black;
}

.rotate {
  transform: rotate(1440deg);
  transition: 2s;
}

#displayBoard h2, #clue {
  width:30%;
  color:white;
  font-size: 20px;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

#displayBoard {
  background: url('../img/board3.jpg');
  width: 1200px;
  text-align: center;
  height: 500px;
  transform: skewX(1deg);
  transform: skewY(2deg);
  transform: rotateZ(5deg);
  color:black;
  box-shadow: 10px 10px 5px 3px white;
}

#playersAvatars {
  position: fixed;;
  bottom: 0;
  right: 100px;;
  margin-bottom: -500px;
}

#playersAvatars div {
  display: inline-block;
  right: 0px;
}

#player-one, #player-two {
  position: relative;
  top: 320px;
  left: 52px;
  color: white;
  font-size: 2em;
}

#player-one-score, #player-two-score {
  position: relative;
  top: 320px;
  left: 52px;
  color: white;
  font-size: 2em;
}

#sidebar {
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  background: rgba(57, 255, 20, 0.5);
  color: white;
  border: none;
  z-index: 99;
  padding-top: 75px;
  width: 400px;
  text-align: center;
  font-size: 24px;
}

#sidebar button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#sidebar input {
  height: 55px;
  font-size: 24px;
}

#mainDisplay {
  margin-left:30%;
  position: absolute;
}

#spin {
  width: 140px;
  height: 70px;
  background-image: url("../img/background.jpg");
  background-size: 70%;
  border: 3px solid black;
  border-radius: 50px;
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 0 0 10px black;
}

#lettersGuessed {
  margin-top: 0px;
}

#solve {
  letter-spacing: 20px;
  font-size: 5em;
  padding: 20px;
}

#spinDiv, #letterDiv {
  display: none;
}



/*/////////animted lights//////*/
#wrapper {
  margin: auto;
  width: 945px;
  background: url('https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/1012385_10151817242762214_1256830571_n.jpg') no-repeat;
  background-size: 80%;
  background-position: 50% 50%;
  display: block;
  transform: scale(4,4);
  position: fixed;
  top:0;
  right:0;
}

#bottom li {
  float: left;
  margin-right: 5px;
}

#wrongLetters, #spinText, #letterDiv, #playerEntryForm{
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
}

#letterEntryLabel {
  font-size: 32px;
}

#playerFormSubmit, #enterLetter {
  width:100px;
  height: 50px;
  font-size: 22px;
  text-align: center;
  background-image:url("../img/board5.jpg");
  background-size: 50%;
  border:2px solid black;
  text-shadow: 0 0 10px black;
}

#finish {
  width: 325px;
  height: 50px;
  font-size: 21px;
  background-image:url("../img/board6.jpg");
  background-size: 75%;
  text-shadow: 0 0 10px black;
  border:2px solid black;
}

@font-face {
  font-family: doublest;
  src: url(../font/DOUBLEST.TTF);
}

@keyframes chase {
  0% {
    box-shadow: inset 0px 0px 40px 12px rgba(255,255,220,0.9),
                      0px 0px 40px 10px rgba(255,255,190,0.9);
  }
  100% {
    box-shadow: inset 0px 0px 0px 0px rgba(255,255,220,0),
                      0px 0px 0px 0px rgba(255,255,190,0);
  }
}
/*////////score decoration class/////*/
@import url(https://fonts.googleapis.com/css?family=Dosis);
